@model WeatherCatcher.Models.City
<script>
    var model = {
        cities: ko.observableArray(),
        editor: {
            name: ko.observable("")
        }
    };

    function sendAjaxRequest(httpMethod, callback, url, reqData) {
        $.ajax("/api/web" + (url ? "/" + url : ""), {
            type: httpMethod,
            success: callback,
            data: reqData
        });
    }

    function handleEditorClick() {
        sendAjaxRequest("POST", function (newItem) {
                model.cities.push(newItem);
            }, null, {
                Name: model.editor.name
            }
        );
    }


</script>
<div id="editor2" class="section panel panel-primary">
    @*<div class="panel-heading">

        </div>*@
    <div class="panel-body">
        <div class="form-group">
            <label>Название города</label>
            <input class="form-control" data-bind="value: model.editor.name" />
        </div>
        <button class="btn btn-primary"
                data-bind="click: handleEditorClick">
            Добавить
        </button>
    </div>
</div>
