@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WeatherCatcher.Models

@model IEnumerable<CityViewModel>
@{
    ViewBag.Title = "Weather in the cities";
}

@section Scripts {
    <script>
        var model = {
            cities: ko.observableArray(),
            editor: {
                name: ko.observable("")
            }
        };

        function sendAjaxRequest(httpMethod, callback, url, reqData) {
            $.ajax("/api/city" + (url ? "/" + url : ""), {
                type: httpMethod,
                success: callback,
                data: reqData
            });
        }

        function getAllItems() {
            sendAjaxRequest("GET", function(data) {
                model.cities.removeAll();
                for (var i = 0; i < data.length; i++) {
                    model.cities.push(data[i]);
                }
            });
        }

        function handleEditorClick() {
            sendAjaxRequest("POST", function (newItems) {
                if (newItems.length > 0) {
                    for (var i = 0; i < newItems.length; i++) {
                        model.cities.push(newItems[i]);
                    }
                } else {
                    alert('Not found any weather information for selected city');
                }}, null, { 
                    Name: model.editor.name
                }
            );
        }

        function removeItem(item) {
            sendAjaxRequest("DELETE", function() {
                for (var i = 0; i < model.cities().length; i++) {
                    if (model.cities()[i].Name == item.Name) {
                        model.cities.remove(model.cities()[i]);
                        break;
                    }
                }
            }, item.Name);
        }

        $(document).ready(function() {
            getAllItems();
            ko.applyBindings(model);
        });
    </script>
}

@section Body {
<div id="summary" class="section panel panel-primary">
    <div class="panel-heading">Все города</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
            <tr><th>City name</th><th>Temperature(deg C)</th><th>Humidity</th><th>Pressure</th><th>Weather events</th><th>Weather service</th></tr>
            </thead>
            <tbody data-bind="foreach: model.cities">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Weather.Temperature"></td>
                <td data-bind="text: Weather.Humidity"></td>
                <td data-bind="text: Weather.Pressure"></td>
                <td data-bind="text: Weather.WeatherСonditions"></td>
                <td data-bind="text: WeatherService"></td>
                <td>
                    <button class="btn btn-xs btn-primary"
                            data-bind="click: removeItem">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="editor2" class="section panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label>City name</label>
                <input class="form-control" data-bind="value: model.editor.name" />
            </div>
            <button class="btn btn-primary"
                    data-bind="click: handleEditorClick">
                Add
            </button>
        </div>
    </div>
}